{% extends "layout.html" %}

{% block title %}
    Fail
{% endblock %}

{% block main %}
<h2 style = "text-align: center, font-family: verdana, font-size: 500%"> Sorry</h2>
<h3 style = "text-align: center, font-family: verdana, font-size: 200%"> We cannot detect your face</h3>
<p style = "text-align: center, font-family: arial, font-size: 500%"> Maybe try again</p>


<p>=============================================================</p>
<p>=============================================================</p>
<p>=============================================================</p>


<img src = {{you}} height = "50%" width = "50%" /p>


{% endblock %}
