{% extends "layout.html" %}

{% block title %}
    Fail
{% endblock %}

{% block main %}
<h2 style = "text-align: center, font-family: verdana, font-size: 500%"> Sorry</h2>
<h3 style = "text-align: center, font-family: verdana, font-size: 200%"> Your facial features are unique</h3>
<p style = "text-align: center, font-family: arial, font-size: 500%"> ***We cannot find any celebrities, with whom we are at least 20 % confident, that looks like you</p>


<p>=============================================================</p>
<p>=============================================================</p>
<p>=============================================================</p>


<img src = {{you}} height = "50%" width = "50%" /p>


{% endblock %}
