{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 style = "text-align: center, font-family: verdana, font-size: 300%"> Welcome</h1>
    <p1 style = "text-align: center, font-family: courier, font-size: 160%"> This is a CS50 project by Tuan Nguyen Doan </p>
    <img src="http://www.ew.com/sites/default/files/styles/tout_image_612x380/public/i/2013/12/05/The-Wolf-of-Wall-Street_612x380.jpg?itok=H8uEVF9s" width="50%" height="50%"/>
    
    <p>=============================================================</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-9il1HhM4F4" frameborder="0" allowfullscreen></iframe>
    
    

{% endblock %}
